{
  "presets": [
      "es2015-minimal",
      "stage-0"
  ],
  "plugins": [
      "transform-class-properties",
      ["module-resolver", {
          "alias": {
              "react": "qreact",
              "react-dom": "qreact"
          }
      }],
      ["transform-react-jsx"]
  ]
}
